<p id="notice"><%= notice %></p>

<h1><%= @script.name %> Script Details</h1>
<p>
  <b>Scheduled at: </b><%= @script.scheduler %>
</p>

<h3>Available Output files links</h3>

<div>
	<% if file_links(@script.name).blank? %>
		<p>Files not availables</p>
	<% end %>
	<p></p>
	<% file_links(@script.name).each do |file_link| %>	
		<li>
			<%= link_to file_name(file_link), download_output_file_path(file_name: send_smart_path(file_link)), download: true %>
		</li>
	<% end %> 
</div>


<div>
	<%= link_to 'Edit', edit_script_path(@script) %> |
	<%= link_to 'Back', scripts_path %>	
</div>

